@import-normalize;

html {
  /*(2560 * x / 100 = 10)*/
  font-size: 0.390625vw;
  height: 100%;
}

@media screen and (max-width: 1920px) {
  /*(1920 * x / 100 = 10)*/
  html {
    font-size: 0.52083333vw;
  }
}

@media screen and (max-width: 1440px) {
  /*(1440 * x / 100 = 10)*/
  html {
    font-size: 0.694444vw;
  }
}

@media screen and (max-width: 1024px) {
  /*(1024 * x / 100 = 10)*/
  html {
    font-size: 0.9765625vw;
  }
}

@media screen and (max-width: 768px) {
  /*(768 * x / 100 = 10)*/
  html {
    font-size: 1.3020833vw;
  }
}

@media screen and (max-width: 425px) {
  /*(375 * x / 100 = 10)*/
  html {
    font-size: 2.666666vw;
  }
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Nunito' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: #f2f2f2;
  height: 100%;
}
